In [32]:
import pandas as pd
import surprise
import numpy as np

In [11]:
dataset1 = pd.read_csv('new_products.csv')
dataset1.head(100)

,product_id,product_category_name,product_category_name_english,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_name
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery Product0 1e9e8ef04dbcff4541ed...
1,6a2fb4dd53d2cdb88e0432f1284a004c,perfumaria,perfumery,39.0,346.0,2.0,400.0,27.0,5.0,20.0,perfumery Product0 1e9e8ef04dbcff4541ed...
2,0d009643171aee696f4733340bc2fdd0,perfumaria,perfumery,52.0,150.0,1.0,422.0,21.0,16.0,18.0,perfumery Product0 1e9e8ef04dbcff4541ed...
3,b1eae565a61935e0011ee7682fef9dc9,perfumaria,perfumery,49.0,460.0,2.0,267.0,17.0,13.0,17.0,perfumery Product0 1e9e8ef04dbcff4541ed...
4,8da90b37f0fb171b4877c124f965b1f6,perfumaria,perfumery,56.0,733.0,3.0,377.0,18.0,13.0,15.0,perfumery Product0 1e9e8ef04dbcff4541ed...
...,...,...,...,...,...,...,...,...,...,...,...
95,f2b67cf6ef88cbc9c2f3e482f558b318,perfumaria,perfumery,45.0,977.0,2.0,117.0,16.0,11.0,13.0,perfumery Product0 1e9e8ef04dbcff4541ed...
96,fa157aa51a996cc533b9048c3c8118a0,perfumaria,perfumery,37.0,431.0,1.0,200.0,20.0,10.0,15.0,perfumery Product0 1e9e8ef04dbcff4541ed...
97,aa8bc5595ba5d066c744e14995402cdd,perfumaria,perfumery,56.0,680.0,1.0,333.0,20.0,13.0,14.0,perfumery Product0 1e9e8ef04dbcff4541ed...
98,29b65c78c1d8d70da25c6a553e1bfdb1,perfumaria,perfumery,59.0,402.0,1.0,350.0,16.0,16.0,16.0,perfumery Product0 1e9e8ef04dbcff4541ed...
99,c344623528c017d4fa7c51cb56d17a98,perfumaria,perfumery,32.0,703.0,1.0,552.0,23.0,14.0,19.0,perfumery Product0 1e9e8ef04dbcff4541ed...

In [15]:
dataset2 = pd.read_csv('olist_order_items_dataset.csv')
dataset2.head(100)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
95,0035246a40f520710769010f752e7507,1,8a6187b2665118d5095f99a25fd7ba7a,4a3ca9315b744ce9f8e9374361493884,2017-08-23 01:25:39,87.00,12.11
96,0035c0b07126fe9c24a325216fb96064,1,ec02a5d380128f7a188e9ce8f3ddd832,8444e55c1f13cd5c179851e5ca5ebd00,2017-12-12 01:29:45,131.90,18.54
97,0035e6b7ade84b3f5b86bd49814793df,1,71a5f1c2a5fd9889ef26b5ac22aec9c6,537eb890efff034a88679788b647c564,2018-02-27 03:31:08,19.90,14.10
98,0036757472ece3dde52fd4bfd929c90e,1,4c1bbc12438daec98a77243c2bf7a3ba,7c67e1448b00f6e969d365cea6b010ab,2018-08-08 15:10:11,136.99,66.04
99,0036887767dea4bd43b1a88cd0d9477a,1,3a264b078bf20e98f315ff65c23fa263,46dc3b2cc0980fb8ec44634e21d2718e,2017-10-19 01:07:30,399.99,23.64

In [13]:
dataset3 = pd.read_csv('olist_order_reviews_dataset.csv')
dataset3.head(100)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
95,71bc170a5ad41ee9dee95f82a17860a8,a90b081d0efa436e072d5328ecd904a4,5,NaN,NaN,2017-08-03 00:00:00,2017-08-03 23:40:22
96,c5be8de5421e658a45042d6ca6a4ff64,61665389f0cccf5ec8135e3b05efc714,5,NaN,NaN,2017-12-12 00:00:00,2017-12-13 22:58:34
97,0c8b57ea62de568f13a0e101d344977e,41bc5a3d34a8e4ef91b2e7d9500694cf,5,NaN,NaN,2017-07-12 00:00:00,2017-07-13 01:02:28
98,edfbad2944ea758725486c3bbcd04f49,9d2aa61b374fac5dd063f36fefa602e1,3,NaN,NaN,2018-03-28 00:00:00,2018-03-31 03:25:49
99,bbf6c18e7c5a88b6adcb69af3b971207,828a705e0645673b538e803ca75a29b6,5,NaN,NaN,2017-10-31 00:00:00,2017-11-06 18:43:24

In [20]:
dataset5 = pd.read_csv('olist_customers_dataset.csv')
dataset5.head(100)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
95,f89c1a6b9c966869e441e55bc14acddc,809353196a0456095716566dd226bb48,13569,sao carlos,SP
96,23e96758fd640560e9b1fbcda90abfc4,9e1f719fe5b17b9c51905fee6d6385c1,5565,sao paulo,SP
97,369708cabd9831ea6fde670a3b602a92,94b731a41867b47c3856e324840c4c99,3636,sao paulo,SP
98,5f8b4882b5a4ec7bf6d2107e6cd0cf29,694cb45ff29b603ac2acd51016770097,24120,niteroi,RJ
99,ad6891a1937cb8723a2c08ba1ae59873,9dbb05f5577e862337b93feb8f358839,65058,sao luis,MA

In [21]:
dataset6 = pd.read_csv('olist_sellers_dataset.csv')
dataset6.head(100)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
95,cda598c48d7c614bc1cad7d8ff6f0010,15137,mirassol,SP
96,d4910f1cdcfdabd48d6b316e395d4a23,9190,santo andre,SP
97,709e16e2b25c7474d980076c6bfc4806,16200,birigui,SP
98,9dc79dd988ac42f4d56c340d7048420a,3569,sao paulo,SP
99,276677b5d08786d5dce7c2149dcce48b,31730,belo horizonte,MG

In [23]:
dataset7 = pd.read_csv('olist_orders_dataset.csv')
dataset7.head(100)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
95,77e9941864fc840be8e4b1ba5347c0f7,3135962ee745ef39b85576df7ddbaa99,delivered,2018-08-03 08:59:39,2018-08-03 09:31:36,2018-08-03 10:10:00,2018-08-17 00:49:41,2018-08-27 00:00:00
96,41bb5cee06dbf170878a9ef93ac7e7f5,1833a0540067becaf59368fe4cd4303a,delivered,2018-05-14 08:35:33,2018-05-14 08:52:24,2018-05-16 14:46:00,2018-05-18 14:48:38,2018-06-08 00:00:00
97,6a0a8bfbbe700284feb0845d95e0867f,68451b39b1314302c08c65a29f1140fc,delivered,2017-11-22 11:32:22,2017-11-22 11:46:50,2017-11-27 13:39:35,2017-12-28 19:43:00,2017-12-11 00:00:00
98,f7959f8385f34c4f645327465a1c9fc4,0bf19317b1830a69e55b40710576aa7a,delivered,2017-03-30 07:50:33,2017-03-30 08:05:08,2017-03-30 10:55:54,2017-04-10 02:59:52,2017-04-26 00:00:00
99,23f553848a03aaab35bb3f9f87725125,c622b892a190735ef81c0087973fa16d,delivered,2018-06-05 09:10:34,2018-06-05 09:32:22,2018-06-06 15:37:00,2018-06-18 12:36:54,2018-07-23 00:00:00

In [26]:
dataset4 = pd.merge(dataset2,dataset3)
dataset4.head(100)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,7b07bacd811c4117b742569b04ce3580,4,NaN,NaN,2017-05-13 00:00:00,2017-05-15 11:34:13
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,0c5b33dea94867d1ac402749e5438e8b,5,NaN,Chegou antes do prazo previsto e o produto sur...,2018-01-23 00:00:00,2018-01-23 16:06:31
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,f4028d019cb58564807486a6aaf33817,4,NaN,NaN,2018-08-15 00:00:00,2018-08-15 16:39:01
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,940144190dcba6351888cafa43f3a3a5,5,NaN,Gostei pois veio no prazo determinado .,2017-03-02 00:00:00,2017-03-03 10:54:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0035246a40f520710769010f752e7507,1,8a6187b2665118d5095f99a25fd7ba7a,4a3ca9315b744ce9f8e9374361493884,2017-08-23 01:25:39,87.00,12.11,2a74b0559eb58fc1ff842ecc999594cb,5,NaN,Estou acostumada a comprar produtos pelo barat...,2017-08-25 00:00:00,2017-08-29 21:45:57
96,0035246a40f520710769010f752e7507,1,8a6187b2665118d5095f99a25fd7ba7a,4a3ca9315b744ce9f8e9374361493884,2017-08-23 01:25:39,87.00,12.11,89a02c45c340aeeb1354a24e7d4b2c1e,5,NaN,NaN,2017-08-29 00:00:00,2017-08-30 01:59:12
97,0035c0b07126fe9c24a325216fb96064,1,ec02a5d380128f7a188e9ce8f3ddd832,8444e55c1f13cd5c179851e5ca5ebd00,2017-12-12 01:29:45,131.90,18.54,3f9a735e3351a7b5159a4d1691a0b9b2,4,NaN,NaN,2017-12-08 00:00:00,2017-12-09 02:28:07
98,0035e6b7ade84b3f5b86bd49814793df,1,71a5f1c2a5fd9889ef26b5ac22aec9c6,537eb890efff034a88679788b647c564,2018-02-27 03:31:08,19.90,14.10,7f6fef0de2a2d006bff1eb494112b1b8,5,NaN,NaN,2018-02-27 00:00:00,2018-02-28 02:29:23
99,0036757472ece3dde52fd4bfd929c90e,1,4c1bbc12438daec98a77243c2bf7a3ba,7c67e1448b00f6e969d365cea6b010ab,2018-08-08 15:10:11,136.99,66.04,5c21268a0f8bae726edb3aa4db3e6bde,2,Mesa com cavaletes,"Demora absurda para entrega, dentro do prazo e...",2018-08-10 00:00:00,2018-08-14 02:57:36

In [28]:
dataset = pd.merge(dataset4,dataset7)
dataset.head(100)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,7b07bacd811c4117b742569b04ce3580,4,NaN,NaN,2017-05-13 00:00:00,2017-05-15 11:34:13,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,0c5b33dea94867d1ac402749e5438e8b,5,NaN,Chegou antes do prazo previsto e o produto sur...,2018-01-23 00:00:00,2018-01-23 16:06:31,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,f4028d019cb58564807486a6aaf33817,4,NaN,NaN,2018-08-15 00:00:00,2018-08-15 16:39:01,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,940144190dcba6351888cafa43f3a3a5,5,NaN,Gostei pois veio no prazo determinado .,2017-03-02 00:00:00,2017-03-03 10:54:59,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0035246a40f520710769010f752e7507,1,8a6187b2665118d5095f99a25fd7ba7a,4a3ca9315b744ce9f8e9374361493884,2017-08-23 01:25:39,87.00,12.11,2a74b0559eb58fc1ff842ecc999594cb,5,NaN,Estou acostumada a comprar produtos pelo barat...,2017-08-25 00:00:00,2017-08-29 21:45:57,4bcf2ad7ccc061c13ff360aae5b7abcd,delivered,2017-08-17 00:57:23,2017-08-17 01:25:39,2017-08-22 15:33:53,2017-08-28 19:14:03,2017-09-06 00:00:00
96,0035246a40f520710769010f752e7507,1,8a6187b2665118d5095f99a25fd7ba7a,4a3ca9315b744ce9f8e9374361493884,2017-08-23 01:25:39,87.00,12.11,89a02c45c340aeeb1354a24e7d4b2c1e,5,NaN,NaN,2017-08-29 00:00:00,2017-08-30 01:59:12,4bcf2ad7ccc061c13ff360aae5b7abcd,delivered,2017-08-17 00:57:23,2017-08-17 01:25:39,2017-08-22 15:33:53,2017-08-28 19:14:03,2017-09-06 00:00:00
97,0035c0b07126fe9c24a325216fb96064,1,ec02a5d380128f7a188e9ce8f3ddd832,8444e55c1f13cd5c179851e5ca5ebd00,2017-12-12 01:29:45,131.90,18.54,3f9a735e3351a7b5159a4d1691a0b9b2,4,NaN,NaN,2017-12-08 00:00:00,2017-12-09 02:28:07,c8c4991d84dbfef1f61c6152486db6d4,delivered,2017-11-24 01:08:37,2017-11-24 01:29:45,2017-11-28 17:17:17,2017-12-07 16:59:21,2018-01-03 00:00:00
98,0035e6b7ade84b3f5b86bd49814793df,1,71a5f1c2a5fd9889ef26b5ac22aec9c6,537eb890efff034a88679788b647c564,2018-02-27 03:31:08,19.90,14.10,7f6fef0de2a2d006bff1eb494112b1b8,5,NaN,NaN,2018-02-27 00:00:00,2018-02-28 02:29:23,3a0cc7c9af6abf8868dad5a1de4a16e1,delivered,2018-02-21 02:46:23,2018-02-21 07:10:40,2018-02-22 00:51:33,2018-02-26 16:49:02,2018-03-13 00:00:00
99,0036757472ece3dde52fd4bfd929c90e,1,4c1bbc12438daec98a77243c2bf7a3ba,7c67e1448b00f6e969d365cea6b010ab,2018-08-08 15:10:11,136.99,66.04,5c21268a0f8bae726edb3aa4db3e6bde,2,Mesa com cavaletes,"Demora absurda para entrega, dentro do prazo e...",2018-08-10 00:00:00,2018-08-14 02:57:36,ea477083e770db0655938e79149f8c24,delivered,2018-07-19 14:58:59,2018-07-19 15:10:11,2018-08-07 07:45:00,2018-08-09 14:33:40,2018-08-20 00:00:00

In [36]:
dataset = dataset[['customer_id','product_id','review_score']]
dataset.head()

,customer_id,product_id,review_score
0,3ce436f183e68e07877b285a838db11a,4244733e06e7ecb4970a6e2683c13e61,5
1,f6dd3ec061db4e3987629fe6b26e5cce,e5f2d52b802189ee658865ca93d83a8f,4
2,6489ae5e4333f3693df5ad4372dab6d3,c777355d18b72b67abbeef9df44fd0fd,5
3,d4eb9395c8c0431ee92fce09860c5a06,7634da152a4610f1595efa32f14722fc,4
4,58dbd0b2d70206bf40e62cd34e84d795,ac6c3623068f30de03045865e4e10089,5

In [37]:
dataset.to_csv ("user_product_review.csv",index=False)