In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('olist_products_dataset.csv')
df = df[['product_id','product_category_name','product_weight_g','product_length_cm','product_height_cm','product_width_cm']]
df

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,2083.0,12.0,2.0,7.0

In [48]:
df1 = pd.read_csv('olist_order_items_dataset.csv')
df1 = df1.drop_duplicates()
df2 = df1[['product_id','price']].drop_duplicates()
df2

                              product_id   price
0       4244733e06e7ecb4970a6e2683c13e61   58.90
1       e5f2d52b802189ee658865ca93d83a8f  239.90
2       c777355d18b72b67abbeef9df44fd0fd  199.00
3       7634da152a4610f1595efa32f14722fc   12.99
4       ac6c3623068f30de03045865e4e10089  199.90
...                                  ...     ...
112625  2e910736c31392d46841f315e9511405   65.99
112632  dd469c03ad67e201bc2179ef077dcd48  736.00
112637  bbe7651fef80287a816ead73f065fc4b  229.90
112646  32e07fd915822b0765e448c4dd74c828  350.00
112649  350688d9dc1e75ff97be326363655e01   43.00

[42408 rows x 2 columns]

In [65]:
df2[df2.product_id=='0d009643171aee696f4733340bc2fdd0']

                             product_id  price
16079  0d009643171aee696f4733340bc2fdd0  339.0
54152  0d009643171aee696f4733340bc2fdd0  275.0
73838  0d009643171aee696f4733340bc2fdd0  319.9

In [81]:
frame = df2[['product_id']].drop_duplicates()
fr = []
fr.append([])
for id in df2.product_id:
    price = df2[df2.product_id== id].values
    fr[0].append([id,price[0]])

In [84]:
dfram = pd.DataFrame(fr)

In [85]:
dfram

,0,1,2,3,4,5,6,7,8,9,...,42398,42399,42400,42401,42402,42403,42404,42405,42406,42407
0,"[4244733e06e7ecb4970a6e2683c13e61, [4244733e06...","[e5f2d52b802189ee658865ca93d83a8f, [e5f2d52b80...","[c777355d18b72b67abbeef9df44fd0fd, [c777355d18...","[7634da152a4610f1595efa32f14722fc, [7634da152a...","[ac6c3623068f30de03045865e4e10089, [ac6c362306...","[ef92defde845ab8450f9d70c526ef70f, [ef92defde8...","[8d4f2bb7e93e6710a28f34fa83ee7d28, [8d4f2bb7e9...","[557d850972a7d6f792fd18ae1400d9b6, [557d850972...","[310ae3c140ff94b03219ad0adc3c778f, [310ae3c140...","[4535b0e1091c278dfd193e5a1d63b39f, [4535b0e109...",...,"[fda6a1e500285956c972ec2fe10f4923, [fda6a1e500...","[801a695ff5c0c14970a71a4ceb70989e, [801a695ff5...","[4cc4d02efc8f249c13355147fb44e34d, [4cc4d02efc...","[b10ecf8e33aaaea419a9fa860ea80fb5, [b10ecf8e33...","[681953ccd5c33207d75571a4bfbe127d, [681953ccd5...","[2e910736c31392d46841f315e9511405, [2e910736c3...","[dd469c03ad67e201bc2179ef077dcd48, [dd469c03ad...","[bbe7651fef80287a816ead73f065fc4b, [bbe7651fef...","[32e07fd915822b0765e448c4dd74c828, [32e07fd915...","[350688d9dc1e75ff97be326363655e01, [350688d9dc..."

In [57]:
price = df2[df2.product_id=='0d009643171aee696f4733340bc2fdd0'][['price']].values
price[1]

array([275.])