In [1]:
import pandas as pd

In [26]:
df = pd.read_csv('olist_order_items_dataset.csv')
df[df.product_id == "4244733e06e7ecb4970a6e2683c13e61"]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
8346,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96
36646,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33
49108,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17
55021,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29
70534,a0f9acf0b6294ed8561e32cde1a966bc,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-03 15:23:46,55.9,26.93
82756,bbf796534aaf9c59f8da8c7982db56e0,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-03-26 03:28:44,64.9,38.50
88891,c9ef97d2854afe64a3b4488bc2836af6,2,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-14 04:25:34,58.9,18.12
98401,df2d910b8b5e5f461f67043489f9569d,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-06-09 14:31:21,55.9,35.71

In [53]:
x = df.groupby('product_id')['order_item_id'].sum()
data = pd.DataFrame(x)
data.drop_duplicates()
data.sort_values(by = 'order_item_id',ascending = False)

                                  order_item_id
product_id
422879e10f46682990de24d770e7f83d            793
aca2eb7d00ea1a7b8ebd4e68314663af            640
368c6c730842d78016ad823897a372db            551
53759a2ecddad2bb87a079a1f1519f73            545
99a4788cb24856965c36a24e339b6058            542
...                                         ...
6ec96c91757fad0aecafc0ee7f262dcc              1
6ec26b3516fecd18cda3001a9c48a242              1
6ec18f98bd4eb7efc0989af1505a3f86              1
6ebdbcab1f0dc7e1d3ecb01c1b140ade              1
fffe9eeff12fcbd74a2f2b007dde0c58              1

[32951 rows x 1 columns]