In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('olist_sellers_dataset.csv')
x = []
for i in range (0,3095):
    x.append(i)
df['seller_index'] = x
df = df[['seller_id' , 'seller_index']]
df

                             seller_id  seller_index
0     3442f8959a84dea7ee197c632cb2df15             0
1     d1b65fc7debc3361ea86b5f14c68d2e2             1
2     ce3ad9de960102d0677a81f5d0bb7b2d             2
3     c0f3eea2e14555b6faeea3dd58c1b1c3             3
4     51a04a8a6bdcb23deccc82b0b80742cf             4
...                                ...           ...
3090  98dddbc4601dd4443ca174359b237166          3090
3091  f8201cab383e484733266d1906e2fdfa          3091
3092  74871d19219c7d518d0090283e03c137          3092
3093  e603cf3fec55f8697c9059638d6c8eb5          3093
3094  9e25199f6ef7e7c347120ff175652c3b          3094

[3095 rows x 2 columns]

In [3]:
df1 = pd.read_csv('olist_order_items_dataset.csv')
df1 = df1[['product_id','seller_id']]
df1.drop_duplicates(inplace = True)
df1.reset_index(drop = True)
data = pd.merge(df,df1)
data = data.groupby('product_id',sort = False)['seller_index'].max()
data
dataframe = pd.DataFrame(data)
dataframe

                                  seller_index
product_id
ffb64e34a37740dafb6c88f1abd1fa61             0
f4621f8ad6f54a2e3c408884068be46d             0
325a06bcce0da45b7f4ecf2797dd40e4             0
1c36a5285f7f3b1ed2637d7c528ce5ff             1
8852eb03b04ec3268a66e9b696e25f6f             1
...                                        ...
70aaba5ccf6aac45a3a7917f3a79c7e4          3092
dab1da142d5a95b9200cef4675a3f9fa          3092
0a9dafcfb351b0dd0fafd06b8f842b55          3092
e891d4a9622cae3b9fc2ec558bda155b          3093
179bb56045bec397c52ef3c8183dabb6          3094

[32951 rows x 1 columns]

In [4]:
Data = pd.read_csv('database_f.csv')
Data = Data.round(1)
Data

,product_id,product_name,product_category_name_english,product_weight_g,product_length_cm,product_height_cm,product_width_cm,price,review_score
0,00066f42aeeb9f3007548bb9d3f33c38,perfumery Product 84,perfumery,300.0,20.0,16.0,16.0,101.6,5.0
1,005030ef108f58b46b78116f754d8d38,perfumery Product 85,perfumery,50.0,16.0,5.0,11.0,14.8,4.6
2,009c09f439988bc06a93d6b8186dce73,perfumery Product 86,perfumery,150.0,20.0,20.0,20.0,132.4,5.0
3,00baba5b58e274d0332a0c8a0a66f877,perfumery Product 87,perfumery,200.0,18.0,7.0,12.0,47.9,4.2
4,00c3e35b00dd00ab864d4a94c1b97e66,perfumery Product 88,perfumery,512.0,30.0,12.0,18.0,100.0,5.0
...,...,...,...,...,...,...,...,...,...
32946,ab0a97f604550b5b5b99180a6dc04461,tablets_printing_image Product 41,tablets_printing_image,150.0,60.0,11.0,11.0,14.9,4.0
32947,b29c1749f99da888ea322a01420d5220,tablets_printing_image Product 42,tablets_printing_image,1100.0,30.0,5.0,22.0,890.0,1.0
32948,fa9d34c32a70b4e50a4c2c8c2c42051f,tablets_printing_image Product 43,tablets_printing_image,100.0,16.0,6.0,14.0,30.0,5.0
32949,6c7a0a349ad11817745e3ad58abd5c79,security_and_services Product 44,security_and_services,1225.0,27.0,35.0,15.0,183.3,4.0
32950,8db75af9aed3315374db44d7860e25da,security_and_services Product 45,security_and_services,400.0,26.0,22.0,11.0,100.0,1.0

In [5]:
xdata = pd.merge(Data,dataframe.reset_index())
xdata

,product_id,product_name,product_category_name_english,product_weight_g,product_length_cm,product_height_cm,product_width_cm,price,review_score,seller_index
0,00066f42aeeb9f3007548bb9d3f33c38,perfumery Product 84,perfumery,300.0,20.0,16.0,16.0,101.6,5.0,438
1,005030ef108f58b46b78116f754d8d38,perfumery Product 85,perfumery,50.0,16.0,5.0,11.0,14.8,4.6,2245
2,009c09f439988bc06a93d6b8186dce73,perfumery Product 86,perfumery,150.0,20.0,20.0,20.0,132.4,5.0,2864
3,00baba5b58e274d0332a0c8a0a66f877,perfumery Product 87,perfumery,200.0,18.0,7.0,12.0,47.9,4.2,418
4,00c3e35b00dd00ab864d4a94c1b97e66,perfumery Product 88,perfumery,512.0,30.0,12.0,18.0,100.0,5.0,1591
...,...,...,...,...,...,...,...,...,...,...
32946,ab0a97f604550b5b5b99180a6dc04461,tablets_printing_image Product 41,tablets_printing_image,150.0,60.0,11.0,11.0,14.9,4.0,2257
32947,b29c1749f99da888ea322a01420d5220,tablets_printing_image Product 42,tablets_printing_image,1100.0,30.0,5.0,22.0,890.0,1.0,2710
32948,fa9d34c32a70b4e50a4c2c8c2c42051f,tablets_printing_image Product 43,tablets_printing_image,100.0,16.0,6.0,14.0,30.0,5.0,2367
32949,6c7a0a349ad11817745e3ad58abd5c79,security_and_services Product 44,security_and_services,1225.0,27.0,35.0,15.0,183.3,4.0,2248
32950,8db75af9aed3315374db44d7860e25da,security_and_services Product 45,security_and_services,400.0,26.0,22.0,11.0,100.0,1.0,1664

In [6]:
Df = pd.read_csv("ratings.csv")
Df

                             product_id  review_score
0      fd25ab760bfbba13c198fa3b4f1a0cd3      4.666667
1      be0dbdc3d67d55727a65d4cd696ca73c      3.764706
2      d1c427060a0f73f6b889a5c7c61f2ac4      4.213622
3      52c80cedd4e90108bf4fa6a206ef6b03      4.157895
4      3880d25d502b15b1de6fddc42ad1d67a      5.000000
...                                 ...           ...
32946  2381a3052dd37f97e616bf160467acae      5.000000
32947  6e29f8de1ad465c1fa275aae299fa98b      5.000000
32948  6160c6145b50c401702912baf0fd7de5      5.000000
32949  4fb209073dc2ab6a6d3c259a7c285501      5.000000
32950  54caa022e792f1ce31d4a656cecaa802      1.000000

[32951 rows x 2 columns]

In [7]:
fdata = pd.merge(Df,xdata)
fdata

,product_id,review_score,product_name,product_category_name_english,product_weight_g,product_length_cm,product_height_cm,product_width_cm,price,seller_index
0,3880d25d502b15b1de6fddc42ad1d67a,5.0,sports_leisure Product 2292,sports_leisure,9850.0,105.0,35.0,50.0,1199.0,1725
1,c45d02cc82cd779835094de9b29272cb,1.0,bed_bath_table Product 2205,bed_bath_table,950.0,46.0,6.0,36.0,99.9,1873
2,4e3550b4ebca5e32ccc3d32b3470e31f,1.0,bed_bath_table Product 805,bed_bath_table,900.0,17.0,22.0,17.0,119.0,48
3,3152a0c0d93abeec99e4a6169aecc88b,5.0,bed_bath_table Product 428,bed_bath_table,600.0,40.0,4.0,30.0,46.9,1265
4,7c03e2562178adecc404571f7c52db4e,5.0,garden_tools Product 1948,garden_tools,250.0,22.0,6.0,11.0,121.9,780
...,...,...,...,...,...,...,...,...,...,...
28281,2381a3052dd37f97e616bf160467acae,5.0,watches_gifts Product 2431,watches_gifts,530.0,18.0,9.0,13.0,150.0,884
28282,6e29f8de1ad465c1fa275aae299fa98b,5.0,auto Product 1762,auto,3850.0,47.0,19.0,23.0,59.9,283
28283,6160c6145b50c401702912baf0fd7de5,5.0,kitchen_dining_laundry_garden_furniture Produc...,kitchen_dining_laundry_garden_furniture,4000.0,31.0,42.0,43.0,161.0,37
28284,4fb209073dc2ab6a6d3c259a7c285501,5.0,furniture_decor Product 2492,furniture_decor,7250.0,100.0,25.0,25.0,226.8,858
28285,54caa022e792f1ce31d4a656cecaa802,1.0,auto Product 1580,auto,200.0,20.0,15.0,15.0,10.0,2930

In [8]:
categories = fdata[['product_category_name_english']].drop_duplicates()
categories.reset_index(drop = True,inplace = True )
categories.reset_index(inplace = True)
categories.rename(columns = {"index" : "category_index"},inplace = True)
categories

    category_index product_category_name_english
0                0                sports_leisure
1                1                bed_bath_table
2                2                  garden_tools
3                3                 health_beauty
4                4                      pet_shop
..             ...                           ...
67              67        tablets_printing_image
68              68     fashion_childrens_clothes
69              69         arts_and_craftmanship
70              70                 fashion_sport
71              71         security_and_services

[72 rows x 2 columns]

In [9]:
gdata = pd.merge(fdata,categories)
hdata = gdata[['product_id','seller_index','category_index','review_score']]
hdata[hdata.product_id == '3880d25d502b15b1de6fddc42ad1d67a']

,product_id,seller_index,category_index,review_score
0,3880d25d502b15b1de6fddc42ad1d67a,1725,0,5.0
1,6dae4e6bc334685708571a48aa41d437,2809,0,3.0
2,41817d1d44000e3105f24470a5224bcb,2493,0,5.0
3,8173ca41cdb176462f9ae79821a48404,2870,0,5.0
4,6a0f59f3946c8169999e2fb7e946ac96,831,0,1.5
...,...,...,...,...
28281,cf6b03b7b6a0d499505b4342f06e5f80,776,70,3.0
28282,5f2ad53b751662e4c54dceffadb3804d,776,70,5.0
28283,f750e77aeeecafcb47516be7f8f278b8,65,70,5.0
28284,6c7a0a349ad11817745e3ad58abd5c79,2248,71,4.0
28285,8db75af9aed3315374db44d7860e25da,1664,71,1.0

In [10]:
hdata.to_csv('features.csv')

In [1]:
gdata

NameError: name 'gdata' is not defined