In [1]:
import numpy
import pandas as pd

In [32]:
df = pd.read_csv('olist_order_items_dataset.csv')
df1 = pd.read_csv('olist_sellers_dataset.csv')
data = df[['product_id','seller_id']]
z = pd.merge(df1,data)
z.groupby('seller_id')
z

,seller_id,seller_zip_code_prefix,seller_city,seller_state,product_id
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,ffb64e34a37740dafb6c88f1abd1fa61
1,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,f4621f8ad6f54a2e3c408884068be46d
2,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,325a06bcce0da45b7f4ecf2797dd40e4
3,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP,1c36a5285f7f3b1ed2637d7c528ce5ff
4,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP,8852eb03b04ec3268a66e9b696e25f6f
...,...,...,...,...,...
112645,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS,e891d4a9622cae3b9fc2ec558bda155b
112646,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS,e891d4a9622cae3b9fc2ec558bda155b
112647,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS,e891d4a9622cae3b9fc2ec558bda155b
112648,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS,e891d4a9622cae3b9fc2ec558bda155b
112649,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP,179bb56045bec397c52ef3c8183dabb6

In [37]:
x = []
for i in range (0,3095):
    x.append(i)
xf = pd.DataFrame(x)
df1[['seller_index']] = xf
df1

,seller_id,seller_zip_code_prefix,seller_city,seller_state,seller_index
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,0
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP,1
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ,2
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP,3
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP,4
...,...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR,3090
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC,3091
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP,3092
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS,3093
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP,3094

In [38]:
data = pd.merge(df[['product_id','seller_id']],df1[['seller_id','seller_index']])
data

,product_id,seller_id,seller_index
0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,513
1,436c8d57ff8d4aa254318e9bd9b48c83,48436dade18ac8b2bce089ec2a041202,513
2,ec02a5d380128f7a188e9ce8f3ddd832,48436dade18ac8b2bce089ec2a041202,513
3,3e31fd1419cc4cd6adad1925e72e3a03,48436dade18ac8b2bce089ec2a041202,513
4,3a135477bf41350a0b1d8afdf616d446,48436dade18ac8b2bce089ec2a041202,513
...,...,...,...
112645,11059273f4bc1a293777e98c89807c62,dbc51f5e45d654ecc16cb68e6817ecea,2957
112646,f4135cbdece8245560f7be179533797a,3fefda3299e6dfaea3466ef346a3571a,2705
112647,69c590f7ffc7bf8db97190b6cb6ed62e,80ceebb4ee9b31afb6c6a916a574a1e2,2916
112648,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2507
112649,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2507

In [62]:
vs = pd.read_csv('olist_products_dataset.csv')
sd = vs[['product_category_name']]
sd = sd.drop_duplicates()
y = []
for i in range (0,74):
    y.append(i)
yf = pd.DataFrame(y)
sd.reset_index(inplace = True, drop = True)
sd[['category_index']] = yf
sd

                            product_category_name  category_index
0                                      perfumaria               0
1                                           artes               1
2                                   esporte_lazer               2
3                                           bebes               3
4                           utilidades_domesticas               4
..                                            ...             ...
69                                casa_conforto_2              69
70  portateis_cozinha_e_preparadores_de_alimentos              70
71                             seguros_e_servicos              71
72                      moveis_colchao_e_estofado              72
73                              cds_dvds_musicais              73

[74 rows x 2 columns]

In [70]:
Database = pd.merge(sd,vs)
Database

,product_category_name,category_index,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,perfumaria,0,1e9e8ef04dbcff4541ed26657ea517e5,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,perfumaria,0,6a2fb4dd53d2cdb88e0432f1284a004c,39.0,346.0,2.0,400.0,27.0,5.0,20.0
2,perfumaria,0,0d009643171aee696f4733340bc2fdd0,52.0,150.0,1.0,422.0,21.0,16.0,18.0
3,perfumaria,0,b1eae565a61935e0011ee7682fef9dc9,49.0,460.0,2.0,267.0,17.0,13.0,17.0
4,perfumaria,0,8da90b37f0fb171b4877c124f965b1f6,56.0,733.0,3.0,377.0,18.0,13.0,15.0
...,...,...,...,...,...,...,...,...,...,...
32946,moveis_colchao_e_estofado,72,13b25797ad1e6d6c7cd3cbeb35f8ee7a,44.0,348.0,1.0,18250.0,25.0,25.0,25.0
32947,moveis_colchao_e_estofado,72,dc36a7859b743d8610a2bbbaea26ece9,29.0,2073.0,2.0,2500.0,41.0,21.0,21.0
32948,moveis_colchao_e_estofado,72,107fde0930956120d1e13dd1062fbb46,51.0,418.0,1.0,30000.0,60.0,73.0,60.0
32949,moveis_colchao_e_estofado,72,726b4e18f00255e2e63491bcba3f60b8,41.0,866.0,1.0,1700.0,70.0,10.0,100.0
32950,cds_dvds_musicais,73,1dceebcc5f23c02ea23e16d5bedca000,47.0,117.0,2.0,550.0,35.0,15.0,25.0

In [86]:
xsData = pd.merge(Database,data)
xsData = xsData[['category_index','seller_index']]
vector = xsData.head(100).values
vector

array([[   0,  438],
       [   0, 2973],
       [   0, 2973],
       [   0,  998],
       [   0,  998],
       [   0,  998],
       [   0,  998],
       [   0,  998],
       [   0,  998],
       [   0,  998],
       [   0,  998],
       [   0, 1893],
       [   0,  200],
       [   0,  200],
       [   0,  889],
       [   0, 1553],
       [   0, 1526],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0, 1413],
       [   0,  347],
       [   0,  524],
       [   0,  279],
       [   0,  279],
       [   0,  998],
       [   0,  998],
       [   0,  998],
       [   0, 1092],
       [   0, 2173],
       [   0, 1553],
       [   0, 2926],
       [   0, 2173],
       [   0, 2173],
       [   0, 2173],
       [   0, 2173],
       [   0, 2173],
       [   0, 1628]])

In [77]:
from sklearn.metrics.pairwise import cosine_similarity

In [87]:
csim = cosine_similarity(vector)
csim

array([[1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.]])